.btn1{
    border: none;
    background-color: rgb(255, 218, 53);
}
.btn1:hover{
    background-color: rgb(235, 226, 211);
    color: rgb(178, 34, 34);
    border: 1px solid rgb(173, 34, 34);
}
.nav-color{
    color: rgb(255, 255, 255);
}
.nav-color:hover{
    color:rgb(255, 218, 53);
}
.navigation-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.9 ease-out;
}
.bg-1{
    background-image: url(./images/bg/bg-1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 16.875rem 0 9.543rem ;
    
}
.btn2{
    border: none;
    background-color: rgb(255, 218, 53);
}
.btn2:hover{
    background-color: rgb(235, 226, 211);
    color: rgb(178, 34, 34);
    border: 1px solid rgb(173, 34, 34);
}
::-webkit-scrollbar{
    width: 0.623rem;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(240, 164, 23);
}
.img1{
    border-radius: 5rem;
}
.btn3{
    background-color: rgb(255, 218, 53);
}
.btn3:hover{
    background-color: rgb(235, 226, 211);
    color: rgb(185, 27, 27);
    border: 1px solid rgb(173, 34, 34);
}
.img2{
    border-radius: 5rem;
    margin-top: 9rem;
}
.text2{
    margin-top: 15rem;
}
.card1{
    border-radius: 1rem;
}
.text3{
    margin-top: 5rem;
}
.img4{
    border-radius: 40rem;
    width: 150px;
    margin-left: 65px;
    margin-top: 50px;
}
.text5{
    margin-top: 9rem;
    
}
.btn5{
    background-color: rgb(255, 218, 53);

}
.btn5:hover{
    background-color: rgb(235, 226, 211);
    color: rgb(185, 27, 27);
    border: 1px solid rgb(173, 34, 34);
}
.text6{
margin-top: 90px;
}
